body {
    margin: 0;
}
    
/* navigation */
.navigation-wraper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* flexbox-container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.navigation-wraper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wraper > .left-column > .phone-icon {
    margin-right: 15px;
}

.navigation-wraper > .left-column > .phone-icon i {
    font-size: 2em;
}

.navigation-wraper >.left-colum > .contact-hours-wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    
}

.banner-image img {
    width: 216px;
    height: 100%;
}

.centre-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;

}